:root {
  --dark-blue: #0f2e60;
  --blue: #377dff;
  --bright-blue: #00dffc;
  --light-grey: #e5e7eb;
  --light-grey-2: #fbfcfe;
  --dark-grey: #77838f;
  --border-grey: #ebebeb;
  --black: #1e2022;
  --darkest-grey: #4a4a4a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  font-size: 62.3%;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  width: 100%;
}